---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Metrics from '../components/Metrics.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
---

<BaseLayout>
  <main>
    <Hero />
    <Metrics />
    <Experience />
    <Skills />
    <Projects />
    <Education />
    <Contact />
  </main>
</BaseLayout>
